<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
    Add
</button>
<table class="table  text-center">
    <thead style="width: 100%;">
        <th width="5%">ID</th>
        <th width="30%">Employee</th>
        <th width="20%">Salary</th>
        <th width="20%">Designation</th>
        <th width="10%">Date Of Joining</th>
        <th width="20%">Action</th>
    </thead>
</table>
<app-child [id]="e.id" [name]="e.name" [salary]="e.salary" [designation]="e.designation" [doj]="e.doj"
    (sendDeleteData)="delete(e.id)" (sendViewData)="view(e.id)" *ngFor="let e of employeeDetails">
</app-child>

<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Add Employee</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form [formGroup]="employeeDet">
                    <div>
                        <label for="">Employee Name</label>
                        <input type="text" formControlName="name">
                    </div>
                    <div>
                        <label for="">Salary</label>
                        <input type="text" formControlName="salary">
                    </div>
                    <div>
                        <label for="">Designation</label>
                        <input type="text" formControlName="designation">
                    </div>
                    <div>
                        <label for="">Date of Joining</label>
                        <input type="text" formControlName="doj">
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" (click)="AddMe()">Add</button>
            </div>
        </div>
    </div>
</div>