<table class="table text-center">
    <tr style="width: 100%;">
        <td width="5%">{{id}}</td>
        <td width="30%">{{name}}</td>
        <td width="20%">{{salary}}</td>
        <td width="30%">{{designation}}</td>
        <td width="20%">{{doj}}</td>
        <td>
            <button class="btn btn-primary" (click)="selectMethod(1)">View</button>
            &nbsp;
            &nbsp;
            <button class="btn btn-danger" (click)="selectMethod(2)">Delete</button>
        </td>
    </tr>
</table>